{% extends 'pages/base.html' %}

{% block title %}Hospitals{% endblock title %}

{% block content %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>
    {% comment %} {% for hospital in hospitals %}
        <div>
            <h2>{{hospital.name}}</h2>
            Contact: {{hospital.contact}}<br />
            Address: {{ hospital.address|truncatechars:7 }}<br />
            {{hospital.city}}&nbsp;&nbsp;{{hospital.address}}<br /><br /><br />
        </div>
    {% endfor %} {% endcomment %}
    <div class="album py-5 bg-light">
        <div class="container">
            <h1>Hospitals</h1><br />
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for hospital in hospitals %}
            <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ hospital.imageURL }}" />
                  <div class="card-body">
                    <p class="card-text">{{ hospital.name|truncatechars:30 }}</p>
                    <p class="card-text">{{ hospital.description|truncatechars:30 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'hospital' id=hospital.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock content %}